* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

div {
  display: block;
  unicode-bidi: isolate;
}

body {
  font-family: Inconsolata, monospace, Terminus;
  background-color: rgb(254, 250, 224);
  color: rgb(198, 212, 212);
}

a {
  text-decoration: none;
  scroll-behavior: smooth;
}

span {
  user-select: none;
}

@font-face {
  font-family: Terminus;
  src: url(../assets/fonts/Terminus.woff) format("woff"), url(../assets/fonts/Terminus.ttf) format("truetype") url(../assets/fonts/terminus.ttf) format("truetype");
  font-display: swap;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(254, 250, 224);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #344E41;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202f28;
}

.display-flex--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.display-flex--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display-flex--centered {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
}

.container {
  width: fit-content;
  height: 100%;
}
.container--flex-100vh {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 15;
  background-image: linear-gradient(45deg, #344E41, #4a532f, rgb(40, 54, 24));
  backdrop-filter: blur(5px);
  transition: opacity 2500ms, visibility 2000ms;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader__container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 60px;
  right: 50px;
}
.loader__image {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
}
.loader__image--active {
  opacity: 1;
}
.loader__animation {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.menu {
  position: fixed;
  z-index: 8;
  top: 0;
  width: 100%;
  height: fit-content;
  transition: top 0.3s;
}
.menu__separator {
  background: rgb(40, 54, 24);
  border: 0;
  height: 1px;
  display: block;
}
.menu__content {
  background-color: rgba(52, 78, 65, 0.9);
  backdrop-filter: blur(2px);
}
.menu__content--current {
  padding: 0.5rem 0.75rem 0rem 0.75rem;
  width: 100%;
  height: 30px;
  gap: 0.15rem;
}
.menu__content--current-text {
  padding: 0px;
  width: 200px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}
.menu__content--navbar {
  padding: 0rem 1rem 0rem 1rem;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__content--toolbar {
  background-color: #344E41;
  height: 40px;
  padding: 0rem 0.5rem 0rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.1rem;
}
.menu__content--hamburger {
  background-color: rgba(52, 78, 65, 0.75);
  backdrop-filter: blur(5px);
  height: calc(100vh - 80px);
}
.menu__text {
  font-family: Terminus;
  color: rgb(254, 250, 224);
  font-size: 1rem;
  text-align: left;
}
.menu__text--version {
  font-size: 0.5rem;
  margin-left: 5px;
  font-weight: 400;
}
.menu__text--mode {
  font-size: 0.75rem;
  font-weight: 400;
}
.menu__text--message {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: -1px 0 rgb(40, 54, 24), 0 1px rgb(40, 54, 24), 1px 0 rgb(40, 54, 24), 0 -1px rgb(40, 54, 24);
}
.menu__button {
  background: none;
  border: none;
  cursor: pointer;
}
.menu__button--puller {
  background-color: #344E41;
  border: 1px solid #344E41;
  width: 50px;
  height: 30px;
  font-size: 1em;
  color: rgb(254, 250, 224);
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  right: 0px;
  transition: 0.25s ease-in-out;
  animation: puller 1s ease-in-out;
}
.menu__button--puller:hover {
  background-color: rgb(254, 250, 224);
  color: #344E41;
}
.menu__button--hamburger {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__button--hamburger:hover .menu__icon--hamburger {
  width: 35px;
  height: 35px;
  fill: rgb(221, 161, 94);
}
.menu__icon {
  pointer-events: none;
  transition: 0.15s ease-in-out;
}
.menu__icon--hamburger {
  fill: antiquewhite;
}
.menu--hidden {
  display: none;
}

@keyframes puller {
  0% {
    pointer-events: none;
    right: -150px;
  }
}
.toolbar__button {
  width: 30px;
  height: 30px;
  border: 1px solid #344E41;
  border-radius: 2.5px;
  background-color: rgb(254, 250, 224);
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.toolbar__button:hover {
  background-color: #344E41;
  width: 32px;
  height: 32px;
}
.toolbar__button:hover .toolbar__icon {
  filter: invert(1);
}
.toolbar__icon {
  width: 20px;
  height: 20px;
  user-select: none;
}

.footer__content {
  position: relative;
}
.footer__img {
  width: 300px;
  height: 300px;
}
.footer__container {
  width: 100%;
  height: fit-content;
  gap: 0.75rem;
  position: absolute;
}
.footer__container--art {
  top: 0.75rem;
}
.footer__container--links {
  bottom: 3.25rem;
}
.footer__container--copyright {
  bottom: 0.75rem;
  font-size: 0.75rem;
  font-family: Terminus;
  font-weight: 300;
  color: rgb(188, 108, 37);
}
.footer__list {
  list-style: none;
  gap: 0.75rem;
}
.footer__link:hover .footer__icon {
  width: 30px;
  height: 30px;
}
.footer__link:hover .footer__icon--linkedin {
  fill: #0a66c2;
}
.footer__link:hover .footer__icon--github {
  fill: #24292e;
}
.footer__link:hover .footer__icon--instagram {
  fill: url(#instagram-hover);
}
.footer__icon {
  width: 25px;
  height: 25px;
  pointer-events: none;
  transition: 0.25s;
  fill: #344E41;
}
.footer__separator {
  background: rgb(40, 54, 24);
  border: 0;
  height: 1px;
  width: 90%;
}

.tool {
  position: fixed;
  z-index: 5;
  top: 125px;
}
.tool__drag-space {
  width: 250px;
  height: 25px;
  background-color: #2a3f34;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  touch-action: none;
}
.tool__image {
  width: 15px;
  height: 15px;
  filter: invert(1);
  user-select: none;
}
.tool__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  transition: 0.25s;
  user-select: none;
}
.tool__panel {
  width: 250px;
  height: 350px;
  background-color: rgba(52, 78, 65, 0.75);
  padding: 5px 15px 10px 15px;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(40, 54, 24);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool__panel--calculator {
  justify-content: center;
}
.tool__panel--calculator-history {
  justify-content: start;
  padding: 10px 15px 10px 15px;
  gap: 2px;
}
.tool__panel--grade {
  height: 250px;
  padding: 20px 5px 5px 5px;
  justify-content: start;
  gap: 20px;
}
.tool__panel--weather {
  height: 250px;
  padding: 20px 5px 5px 5px;
  justify-content: start;
  gap: 15px;
}
.tool__wrapper {
  gap: 15px;
}
.tool__display {
  width: 100%;
  height: 40px;
  background-color: #222;
  color: white;
  text-align: right;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
.tool__button-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  user-select: none;
}
.tool__button {
  background-color: rgb(254, 250, 224);
  color: #344E41;
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.2s;
}
.tool__button--calculator {
  position: unset;
  width: unset;
  height: unset;
  font-size: 18px;
  padding: 15px;
}
.tool__button--panel-changer {
  bottom: 25px;
  right: 30px;
}
.tool__button--history-cleaner {
  bottom: 25px;
  left: 30px;
}
.tool__button--grade {
  bottom: 0px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border: 1px solid #344E41;
}
.tool__button--weather {
  bottom: 0px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border: 1px solid #344E41;
}
.tool__button:hover {
  background-color: #344E41;
  color: rgb(254, 250, 224);
}
.tool__button:hover .tool__icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}
.tool__text {
  color: rgb(254, 250, 224);
  font-size: 15px;
  align-self: center;
}
.tool__text--title {
  font-family: Terminus;
  font-size: 1.25em;
  font-weight: 500;
}
.tool__text--paragraph {
  align-self: start;
}
.tool__text--result {
  font-size: 1em;
}
.tool__text--date {
  font-size: 0.75em;
}
.tool__text--weather {
  font-size: 0.75em;
  text-align: center;
}
.tool__text--emoji {
  font-size: 1.5em;
}
.tool__item {
  width: 210px;
  height: 50px;
  background-color: #3e5d4e;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.tool__table {
  gap: 15px;
}
.tool__table--left {
  gap: 8.5px;
}
.tool__table--right {
  gap: 3px;
}
.tool__input {
  width: 65px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(254, 250, 224);
  text-align: center;
  font-size: 12px;
}
.tool__input--weather {
  width: 175px;
}
.tool--hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
