.footer
{
    &__content
    {
        position: relative;
    }

    &__img
    {
        width: 300px;
        height: 300px;
    }

    &__container
    {
        width: 100%;
        height: fit-content;
        gap: .75rem;

        position: absolute;

        &--art
        {
            top: .75rem;
        }

        &--links
        {
            bottom: 3.25rem; 
        }
        
        &--copyright
        {
            bottom: .75rem;

            font-size: .75rem;
            font-family: Terminus;
            font-weight: 300;
            color: $color-orange;
        }

    }   

    &__list
    {
        list-style: none;
        gap: .75rem;
    }

    &__link
    {        
        &:hover
        {
            .footer__icon
            {
                width: 30px;
                height: 30px;
            }

            .footer__icon--linkedin
            {
                fill: #0a66c2;
            }

            .footer__icon--github
            {
                fill: #24292e;
            }

            .footer__icon--instagram
            {
                fill: url(#instagram-hover);
            }
        }
    }

    &__icon
    {
        width: 25px;
        height: 25px;
        pointer-events: none;

        transition: .25s;

        fill: $color-olive;
    }

    &__separator
    {
        background: $color-pine;
        border: 0;
        height: 1px;
        width: 90%;
    }

}
