//Loader

.loader
{
    width: 100%;
    min-height: 100vh;

    position: fixed;
    z-index: 15;
    background-image: linear-gradient(45deg, $color-olive, #4a532f, $color-pine);
    backdrop-filter: blur(5px);
    transition: opacity 2500ms, visibility 2000ms;

    &--hidden
    {
        opacity: 0;
        visibility: hidden;
    }
    
    &__container
    {
        width: fit-content;
        height: fit-content;

        position: absolute;
        bottom: 60px;
        right: 50px;
    }

    &__image
    {
        position: absolute;
        width: 30px;
        height: 30px;
        opacity: 0;

        &--active
        {
            opacity: 1;
        }
    }

    &__animation
    {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
}