.menu
{
    position: fixed;
    z-index: 8;
    top: 0;
    width: 100%;
    height: fit-content;
    transition: top 0.3s;

    &__separator
    {
        background: $color-pine;
        border: 0;
        height: 1px;
        display: block;
    }

    &__content
    {
        background-color: rgba($color-olive, 0.9);
        backdrop-filter: blur(2px);

        &--current
        {
            padding: .5rem .75rem 0rem .75rem;
            width: 100%;
            height: 30px;

            gap: .15rem;

            &-text
            {
                padding: 0px;
                width: 200px;
                height: 20px;

                @include display-flex(row, left, center);
                gap: .5rem;

            }
        }

        &--navbar
        {
            padding: 0rem 1rem 0rem 1rem;
            width: 100%;
            height: 55px;
            @include display-flex(row, space-between, center);
        }

        &--toolbar
        {
            background-color: $color-olive;
            height: 40px;
            padding: 0rem .5rem 0rem .5rem;
            @include display-flex(row, left, center);
            gap: .1rem;
        }

        &--hamburger
        {
            background-color: rgba($color-olive, 0.75);
            backdrop-filter: blur(5px);
            height: calc(100vh - (85px - 5px));
        }
    }

    &__text
    {
        font-family: Terminus;
        color: $color-cream;
        font-size: 1rem;
        text-align: left;

        &--version
        {   
            font-size: .5rem;
            margin-left: 5px;
            font-weight: 400;
        }

        &--mode
        {
            font-size: .75rem;
            font-weight: 400;
        }

        &--message
        {

            font-size: 1.30rem;
            font-weight: 600;
            text-transform: uppercase;
            text-shadow: -1px 0 $color-pine, 0 1px $color-pine, 1px 0 $color-pine, 0 -1px $color-pine;
        }   

    }

    &__button
    {
        background: none;
        border: none;
        cursor: pointer;

        &--puller
        {
            background-color: $color-olive;
            border: 1px solid $color-olive;
            width: 50px;
            height: 30px;
            font-size: 1em;
            color: $color-cream;
            border-radius: 0px 0px 5px 5px;

            
            position: absolute;
            right: 0px;
            
            transition: .25s ease-in-out;
            animation: puller 1s ease-in-out;

            &:hover
            {
                background-color: $color-cream;
                color: $color-olive;
            }
        }

        &--hamburger
        {
            width: fit-content;
            height: fit-content;

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover
            {
                .menu__icon--hamburger
                {
                    width: 35px;
                    height: 35px;

                    fill: $color-sandy;
                }
            }
        }
    }

    &__icon
    {
        pointer-events: none;
        transition: .15s ease-in-out;

        &--hamburger
        {
            fill: antiquewhite;
        }

    }

    &--hidden
    {
        display: none;
    }
}

@keyframes puller
{
    0% 
    { 
        pointer-events: none;
        right: -150px; 
    }
}