.tool
{
    position: fixed;
    z-index: 5;
    top: 125px;

    &__drag-space
    {
        width: 250px;
        height: 25px;
        background-color: darken($color-olive, 5%);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: move;
        touch-action: none;
    }

    &__image
    {
        width: 15px;
        height: 15px;
        filter: invert(1);
        user-select: none;
    }

    &__icon
    {
        position: absolute;
        width: 25px;
        height: 25px;
        transition: .25s;
        user-select: none;
    }

    &__panel
    {
        width: 250px;
        height: 350px;

        background-color: rgba($color-olive, 0.75);
        padding: 5px 15px 10px 15px;
        border-radius: 0 0 10px 10px;
        border: 1px solid $color-pine;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;

        &--calculator
        {
            justify-content: center;

            &-history
            {
                justify-content: start;
                padding: 10px 15px 10px 15px;
                gap: 2px;
            }
        }

        &--grade
        {
            height: 250px;
            padding: 20px 5px 5px 5px;
            justify-content: start;
            gap: 20px;
        }

        &--weather
        {
            height: 250px;
            padding: 20px 5px 5px 5px;
            justify-content: start;
            gap: 15px;
        }
    }

    &__wrapper
    {
        gap: 15px;
    }

    &__display
    {
        width: 100%;
        height: 40px;
        background-color: #222;
        color: white;
        text-align: right;
        font-size: 18px;
        padding: 5px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
    }

    &__button-wrapper
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        user-select: none;
    }

    &__button
    {
        background-color: $color-cream;
        color: $color-olive;
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        transition: background-color 0.15s, color 0.2s;

        &--calculator
        {
            position: unset;
            width: unset;
            height: unset;
            font-size: 18px;
            padding: 15px;
        }

        &--panel-changer
        {
            bottom: 25px;
            right: 30px;
        }

        &--history-cleaner
        {
            bottom: 25px;
            left: 30px;
        }

        &--grade
        {
            bottom: 0px;
            width: 100%;

            border-radius: 0 0 10px 10px;
            border: 1px solid $color-olive;
        }

        &--weather
        {
            bottom: 0px;
            width: 100%;

            border-radius: 0 0 10px 10px;
            border: 1px solid $color-olive;
        }



        &:hover
        {
            background-color: $color-olive;
            color: $color-cream;

            .tool__icon
            {
                filter: invert(1);
                width: 20px;
                height: 20px;
            }
        }

    }

    &__text
    {
        color: $color-cream;
        font-size: 15px;
        align-self: center;

        &--title
        {
            font-family: Terminus;
            font-size: 1.25em;
            font-weight: 500;
        }

        &--paragraph
        {
            align-self: start;
        }

        &--result
        {
            font-size: 1em;
        }

        &--date
        {
            font-size: .75em;
        }

        &--weather
        {
            font-size: .75em;
            text-align: center;
        }

        &--emoji
        {
            font-size: 1.5em;
        }

    }

    &__item
    {
        width: 210px;
        height: 50px;
        background-color: lighten($color-olive, 5%);
        border-radius: 5px;

        padding: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    &__table
    {
        gap: 15px;

        &--left
        {
            gap: 8.5px;
        }

        &--right
        {
            gap: 3px;
        }
    }

    &__input
    {
        width: 65px;
        height: 20px;
        border: none;
        border-radius: 5px;
        background-color: $color-cream;
        text-align: center;

        font-size: 12px;

        &--weather
        {
            width: 175px;
        }
    }

    &--hidden
    {
        display: none;
    }
}