//Colors Palette
$color-default: rgb(198, 212, 212);
$color-olive: #344E41; //#606c38
$color-pine: rgb(40, 54, 24);
$color-cream: rgb(254, 250, 224);
$color-sandy: rgb(221, 161, 94);
$color-orange: rgb(188, 108, 37);

//Breakpoints Horizontal
$mobile-md-h-breakpoint: 375px;
$mobile-lg-h-breakpoint: 425px;
$tablet-h-breakpoint: 768px;
$desktop-sm-h-breakpoint: 1024px;
$desktop-md-h-breakpoint: 1440px;
$desktop-lg-h-breakpoint: 2560px;
